$background-blue: #b7c9c8;
$background-red: #b7c9c8;
$background-yellow: #b7c9c8;
$background: $background-blue;
$material: #c9c8c5;
$material-detail: desaturate(darken($material, 5%), 0%);
$keyboard: #111;
$material-vents: desaturate(darken($material, 10%), 0%);
$power-button: #111;

$key-color: #fff;
$key-background: #373737;
$key-border: darken($key-background, 6%);
$key-special-background: $key-background;
$key-special-border: darken($key-background, 6%);

// $keyboard: #414141;
// $key-color: #111;
// $key-background: #d4d4d4;
// $key-border: darken($key-background, 6%);
// $key-special-background: #a8a8a8;
// $key-special-border: darken($key-special-background, 6%);

$nandibus-logo: #464646;

$nandibus-blue: #5C90C8;
$nandibus-red: #F04C88;
$nandibus-yellow: #FFEB3B;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}

html, body {
    height: 100%;
}

body {
    background: $background;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 1000px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes hello-nandibus {
    0% { opacity: 0; margin-top: -100px; }
    100% { opacity: 1; margin-top: 0; }
}

.nandibus {
    background: $material;
    width: 39cm;
    height: 17.3cm;
    border-radius: 0.3cm;
    padding: 1.2cm;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: baseline;
    user-select: none;
    // margin-top: -100px;
    // opacity: 0;
    // animation: 1s hello-nandibus;
    // animation-delay: .8s;
    // animation-fill-mode: forwards;

    box-shadow:
        inset 0 -0.125cm 0.375cm 0.1em darken($material, 3%),
        inset 0 0.5625em 0.5em -0.25em darken($material, 10%),
        0 1px 2px rgba(0,0,0,0.07), 
        0 2px 4px rgba(0,0,0,0.07), 
        0 4px 8px rgba(0,0,0,0.07), 
        0 8px 16px rgba(0,0,0,0.07),
        0 16px 32px rgba(0,0,0,0.07), 
        0 32px 64px rgba(0,0,0,0.07);

    &:before {
        content: '';
        position: absolute;
        top: 0.125em;
        left: 0.0625em;
        display: block;
        width: 100%;
        height: 1cm;
        border-radius: 0.3cm;
        box-shadow: inset 0.125em 0.3125em 0.125em -0.25em lighten($material, 10%);
        filter: blur(0.0625em);
    }

    .ribbon {
        width: 100%;
        display: flex;
        margin-right: 4.5cm;
        height: 1.5cm;

        span {
            display: block;
            height: 1.5cm;
            flex-grow: 1;
            position: relative;

            border-radius: 0.2cm;
            background: $material-detail;
            box-shadow:
                inset 0 0.5625em 0.5em -0.25em darken($material-detail, 5%),
                0 2px 4px rgba(0,0,0,0.02);

            &:before {
                content: '';
                position: absolute;
                top: 0.125em;
                left: 0.0625em;
                display: block;
                width: 100%;
                height: 50%;
                border-radius: 0.2cm;
                box-shadow: inset 0.125em 0.3125em 0.125em -0.25em lighten($material-detail, 4%);
            }
        }


        .nandibus-brand {
            margin-left: 1cm;
            margin-right: 1.5cm;
            margin-top: 0.05cm;
            position: relative;
            display: flex;
            align-items: baseline;
            flex-direction: column;

            .nandibus-lights {
                display: flex;
                justify-content: space-around;
                width: 100%;
                margin-top: -0.5cm;

                div {
                    width: 0.46cm;
                    height: 0.46cm;
                    background: $material-detail;
                    border-radius: 50%;
                    position: relative;
                    box-shadow:
                        2px 2px 4px darken($material, 15%),
                        inset -2px -2px 4px desaturate(darken($material, 20%), 10%);

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0.05em;
                        left: 0.02em;
                        display: block;
                        width: 100%;
                        height: .5cm;
                        border-radius: 50%;
                        box-shadow: inset 0.125em 0.3125em 0.125em -0.25em red;
                    }
                }

                .blue {
                    background: desaturate(darken($nandibus-blue, 15%), 25%);
                    box-shadow:
                        2px 2px 4px darken($material, 15%),
                        inset -2px -2px 4px desaturate(darken($nandibus-blue, 20%), 10%);

                    &:before {
                        box-shadow: inset 0.125em 0.3125em 0.125em -0.25em darken($nandibus-blue, 2%);
                    }

                    &.--on {
                        background: $nandibus-blue;

                        box-shadow:
                            inset -2px -2px 4px desaturate(darken($nandibus-blue, 5%), 10%),
                            0 0 10px $nandibus-blue,
                            0 0 20px $nandibus-blue,
                            0 0 30px $nandibus-blue,
                            0 0 50px $nandibus-blue,
                            0 0 70px $nandibus-blue;
                    }
                }

                .red {
                    background: desaturate(darken($nandibus-red, 15%), 25%);
                    box-shadow:
                        2px 2px 4px darken($material, 15%),
                        inset -2px -2px 4px desaturate(darken($nandibus-red, 20%), 40%);

                    &:before {
                        box-shadow: inset 0.125em 0.3125em 0.125em -0.25em darken($nandibus-red, 2%);
                    }

                    &.--on {
                        background: $nandibus-red;

                        box-shadow:
                            inset -2px -2px 4px desaturate(darken($nandibus-red, 5%), 10%),
                            0 0 10px $nandibus-red,
                            0 0 20px $nandibus-red,
                            0 0 30px $nandibus-red,
                            0 0 50px $nandibus-red,
                            0 0 70px $nandibus-red;
                    }
                }

                .yellow {
                    background: desaturate(darken($nandibus-yellow, 15%), 19%);
                    box-shadow:
                        2px 2px 4px darken($material, 15%),
                        inset -2px -2px 4px desaturate(darken($nandibus-yellow, 20%), 40%);

                    &:before {
                        box-shadow: inset 0.125em 0.3125em 0.125em -0.25em desaturate(darken($nandibus-yellow, 5%), 10%);
                    }

                    &.--on {
                        background: $nandibus-yellow;

                        box-shadow:
                            inset -2px -2px 4px desaturate(darken($nandibus-yellow, 8%), 15%),
                            0 0 10px $nandibus-yellow,
                            0 0 20px $nandibus-yellow,
                            0 0 30px $nandibus-yellow,
                            0 0 50px $nandibus-yellow,
                            0 0 70px $nandibus-yellow;
                    }
                }
            }

            h1 {
                font-family: 'Archivo Black', sans-serif;
                font-size: 1.0cm;
                letter-spacing: 0.05cm;
                color: $nandibus-logo;
                text-shadow: 2px 2px 0 lighten($material, 10%);
                margin-top: 0.3cm;
            }
        }
    }

    .keyboard {
        background: $keyboard;
        margin-right: 1.5cm;
        margin-top: 1cm;
        padding: 0.3cm;
        border-radius: 0.2cm;

        .line {
            display: flex;
            margin: 0.13cm 0;
            flex-shrink: 0;
            flex-basis: auto;
        }

        .key {
            color: $key-color;
            background: linear-gradient($key-background, darken($key-background, 3%));
            border: .25cm solid $key-border;
            border-top-color: darken($key-border, 3%);
            border-bottom-color: lighten($key-border, 7%);
            width: 2.2cm;
            height: 2.2cm;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.8cm;
            flex-shrink: 0;
            flex-basis: auto;
            margin: 0 0.06cm;
            text-shadow: 2px 2px 1px darken($key-background, 9%);
            cursor: pointer;

            &:hover, &.hover {
                background: linear-gradient(darken($key-background, 3%), $key-background);
            }

            &:active, &.active {
                border-left-color: darken($key-border, 4%);
                border-left-color: darken($key-border, 4%);
                border-top-color: darken($key-border, 6%);
                border-bottom-color: darken($key-border, 2%);
                background: $key-border;
            }

            &.--backspace { width: 4.2cm; }
            &.--tab { width: 3cm; }
            &.--enter { width: 3.4cm; }
            &.--capslock { width: 3.6cm; }
            &.--l-shift { width: 2.8cm; }
            &.--r-shift { width: 3.6cm; }
            &.--l-ctrl { width: 3.2cm; }
            &.--l-nandibus, &.--r-nandibus { width: 2.5cm; }
            &.--alt { width: 2.5cm; }
            &.--alt-graph { width: 2.5cm; }
            &.--menu { width: 2.5cm; }
            &.--r-ctrl { width: 3.2cm; }
            &.--space { width: 14.5cm; }

            &.--esc,
            &.--backspace,
            &.--tab,
            &.--enter,
            &.--capslock,
            &.--l-shift,
            &.--r-shift,
            &.--l-ctrl,
            &.--alt,
            &.--alt-graph,
            &.--menu,
            &.--r-ctrl,
            &.--space {
                font-size: 0.4cm;
            }

            &.--esc,
            &.--backspace,
            &.--tab,
            &.--enter,
            &.--capslock,
            &.--l-shift,
            &.--r-shift,
            &.--l-ctrl,
            &.--alt,
            &.--alt-graph,
            &.--menu,
            &.--r-ctrl,
            &.--space {
                background: $key-special-background;
                border-color: $key-special-border;
                border-top-color: darken($key-special-border, 3%);
                border-bottom-color: lighten($key-special-border, 7%);

                &:hover, &.hover {
                    background: linear-gradient(darken($key-special-background, 3%), $key-special-background);
                }

                &:active, &.active {
                    border-left-color: darken($key-special-border, 4%);
                    border-left-color: darken($key-special-border, 4%);
                    border-top-color: darken($key-special-border, 6%);
                    border-bottom-color: darken($key-special-border, 2%);
                    background: $key-special-border;
                }
            }

            &.--l-nandibus, &.--r-nandibus {
                font-family: 'Archivo Black', sans-serif;
            }

            &.--enter {
                position: relative;
                background: linear-gradient($key-special-background, darken($key-special-background, 1%));

                .append {
                    background: linear-gradient(darken($key-special-background, 1%), darken($key-special-background, 3%));
                    width: 2.8cm;
                    height: 2.6cm;
                    position: absolute;
                    border: .25cm solid $key-special-border;
                    border-top: none;
                    bottom: -2.59cm;
                    right: -0.25cm;
                    border-top-color: darken($key-special-border, 3%);
                    border-bottom-color: lighten($key-special-border, 7%);
                }

                &:hover, &.hover {
                    background: linear-gradient(darken($key-special-background, 3%), darken($key-special-background, 2%));

                    .append {
                        background: linear-gradient(darken($key-special-background, 2%), $key-special-background);
                    }
                }

                &:active, &.active {
                    border-left-color: darken($key-special-border, 4%);
                    border-left-color: darken($key-special-border, 4%);
                    border-top-color: darken($key-special-border, 6%);
                    border-bottom-color: darken($key-special-border, 2%);
                    background: $key-special-border;

                    .append {
                        border-left-color: darken($key-special-border, 4%);
                        border-left-color: darken($key-special-border, 4%);
                        border-top-color: darken($key-special-border, 6%);
                        border-bottom-color: darken($key-special-border, 2%);
                        background: $key-special-border;
                    }
                }
            }

        }
    }

    .vents {
        background: $material-vents;
        position: absolute;
        width: 1.7cm;
        height: 14.9cm;
        right: 0;
        border-radius: 0.7cm 0 0 0.7cm;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        padding: 0.2cm 0;
        
        box-shadow:
            inset 0 0.5625em 0.5em -0.25em darken($material-vents, 5%),
            inset 0 -0.5em 1em darken($material-vents, 5%),
            0 2px 4px rgba(0,0,0,0.02);

        &:before {
            content: '';
            position: absolute;
            top: 0.125em;
            left: 0.0625em;
            display: block;
            width: 100%;
            height: 50%;
            border-radius: 0.2cm;
            box-shadow: inset 0.125em 0.3125em 0.125em -0.25em lighten($material-vents, 8%);
        }

        .detail {
            width: 1.5cm;
            height: 0.2cm;
            background: darken($material-vents, 20%);
            border-radius: 0.2cm 0 0 0.2cm;
            position: relative;

            &:first-child, &:last-child {
                width: 1.2cm;
            }

            box-shadow:
                inset 0 -2px 2px darken($material-vents, 15%),
                0 2px 4px rgba(0,0,0,0.1);

            &:before {
                content: '';
                position: absolute;
                top: 0.1em;
                left: 0.0625em;
                display: block;
                width: 100%;
                height: 50%;
                border-radius: 0.2cm;
                box-shadow: inset 0.125em 0.3125em 0.125em -0.25em darken($material-vents, 8%);
            }
        }
    }

    .power {
        width: 50px;
        height: 5.4cm;
        position: absolute;
        right: -50px;
        top: 0;
        display: flex;
        align-items: center;
        cursor: pointer;

        .button {
            width: 0.4cm;
            height: 3cm;
            background: $power-button;
            border-radius: 0 0.3cm 0.3cm 0;
            transition: width .1s;
        }

        &:hover {
            .button {
                width: 0.42cm;
                box-shadow: 5px 0 20px -5px rgba($color: #000000, $alpha: 0.4);
            }
        }

        &:active {

            .button {
                transition: width 0s;
                width: 0.1cm;
            }
        }
    }
}